In [1]:
import pandas as pd

In [2]:
columns = [
            'log_seq', 'proc_date', 'proc_time', 'emp_user_id', 'emp_user_name', 'dept_id', 
            'dept_name', 'user_ip', 'user_id', 'scrn_id', 'scrn_name', 'req_type', 'system_seq', 'server_seq', 
            'req_context',
            'req_url', 
            'req_end_time', 'result_type', 'file_name', 'reason', 'reason_codebiz_log_result_seq'    
        ]
len( columns )

21

In [3]:
import os

path = "../data"
file_list = os.listdir(path)
file_list = list(filter( lambda x: x.startswith('s_') and x.endswith( '.csv'), file_list ))
print ("file_list: {}".format(file_list))

file_list: ['s_0705.csv', 's_0710.csv', 's_0715.csv', 's_0720.csv', 's_0725.csv', 's_0731.csv', 's_0805.csv', 's_0810.csv', 's_0815.csv', 's_0820.csv', 's_0825.csv']

In [4]:
clear_columns = [
            'emp_user_id', 'emp_user_name', 'dept_id', 
            'dept_name', 'user_ip', 'req_type', 'system_seq', 
            'req_url', 
            'req_end_time', 'result_type',     
        ]

In [8]:
data_dict = dict()
for file in file_list:
    if file.startswith( 's_08'):
        continue
    
    key = file.split('.')[0]
    value = pd.read_csv( path + '/' + file, names=columns, sep=',')[clear_columns]
    
    data_dict.update( { key : value } )

In [9]:
data_dict.keys()

dict_keys(['s_0705', 's_0710', 's_0715', 's_0720', 's_0725', 's_0731'])

In [7]:
# data_dict.get('s_0825')

,emp_user_id,emp_user_name,dept_id,dept_name,user_ip,req_type,system_seq,req_url,req_end_time,result_type
0,39.124.66.73,NaN,NaN,NaN,39.124.66.73,RD,4,https://www.fms.or.kr/com/redirectEx.do?reqUrl...,20220821000046,6
1,14.40.87.44,NaN,NaN,NaN,14.40.87.44,RD,4,https://www.fms.or.kr/edoc/pd/opn01003_edit.do...,20220821000408,6
2,14.40.87.44,NaN,NaN,NaN,14.40.87.44,RD,4,https://www.fms.or.kr/edoc/pd/opn01003_edit.do...,20220821000433,6
3,207.46.13.163,NaN,NaN,NaN,207.46.13.163,RD,4,https://www.fms.or.kr/com/redirectEx.do?reqUrl...,20220821000447,6
4,14.40.87.44,NaN,NaN,NaN,14.40.87.44,RD,4,https://www.fms.or.kr/facility/bas11001_list.d...,20220821000639,6
...,...,...,...,...,...,...,...,...,...,...
1209620,115.91.52.125,NaN,NaN,NaN,115.91.52.125,RD,10,https://www.kalisedu.or.kr/user/Main.do,20221012104507,"6,6,6,6"
1209621,210.91.70.182,NaN,NaN,NaN,210.91.70.182,RD,10,https://www.kalisedu.or.kr/user/Main.do,20221012104508,"6,6,6,6"
1209622,JTW605,전태원,E00028,(사)대한산업안전협회,14.36.193.72,RD,10,https://www.kalisedu.or.kr/user/intro/IntroUse...,20221012104509,"6,6,6,6,6"
1209623,NaN,NaN,NaN,NaN,217.113.194.58,RD,10,https://www.kalisedu.or.kr/user/Copyright.do,20221012104510,"6,6,6,6"
1209624,115.91.52.125,NaN,NaN,NaN,115.91.52.125,RD,10,https://www.kalisedu.or.kr/user/Main.do?_login=1,20221012104510,"6,6,6,6"

In [10]:
data = pd.concat( data_dict.values() )

In [11]:
del( data_dict )

In [9]:
data.shape

(41705360, 21)

In [12]:
data.shape

(30879001, 10)

In [13]:
data.isnull().sum()

emp_user_id        404508
emp_user_name    15463976
dept_id          15565535
dept_name        16161006
user_ip                 0
req_type                0
system_seq              0
req_url                 0
req_end_time            0
result_type             0
dtype: int64

In [11]:
clear_columns = [
            'emp_user_id', 'emp_user_name', 'dept_id', 
            'dept_name', 'user_ip', 'req_type', 'system_seq', 
            'req_url', 
            'req_end_time', 'result_type',     
        ]

In [13]:
cdata = data[ clear_columns ]

In [14]:
data.to_csv( path_or_buf=path + '/cdata_07.csv', mode='w', index=False )

In [ ]:
# cdata.to_csv( path_or_buf=path + '/cdata_07.csv', mode='w', index=False )