> ##### load to biz_log_summary data from postgres

In [ ]:
import psycopg2
import pickle

db_info = {
    'host'     : "192.168.0.175",
    'port'     : 5432,
    'database' : "psm",
    'user'     : "psm",
    'password' : "psm123"
}

conn = psycopg2.connect( **db_info )

cur = conn.cursor()

sql = \
'''
SELECT log_seq, proc_date, proc_time, emp_user_id, emp_user_name, dept_id, dept_name, user_ip, user_id, scrn_id, scrn_name, req_type, system_seq, server_seq, req_context, req_url, req_end_time, result_type, result_type_ko, query_id, rd_id, rd_name, grid_id, grid_name, request_data
FROM public.biz_log_summary;
'''

print("The number of parts: ", cur.rowcount)

cur.execute( sql )

rows = []
row = cur.fetchone()
rows.append( row )
# print( type( row ) )

while row is not None:
    row = cur.fetchone()
    rows.append( row )

with open('./biz_log_summary.pickle','wb') as f:
    pickle.dump( rows, f )


print( len(rows) )
# display the PostgreSQL database server version
# db_version = cur.fetchone()
# print(db_version)

# close the communication with the PostgreSQL
cur.close()

In [32]:
import pickle
import pandas as pd

datas = None
with open('./biz_log_summary.pickle','rb') as f:
    datas = pickle.load( f )

# print( type(datas))
# print( len(datas))

# for data in datas[:-1]:
#     print( data )

columns = ['log_seq', 'proc_date', 'proc_time', 'emp_user_id', 
           'emp_user_name', 'dept_id', 'dept_name', 
           'user_ip', 'user_id', 'scrn_id', 'scrn_name', 
           'req_type', 'system_seq', 'server_seq', 'req_context', 
           'req_url', 'req_end_time', 'result_type', 'result_type_ko', 
           'query_id', 'rd_id', 'rd_name', 'grid_id', 'grid_name', 'request_data']
df = pd.DataFrame(datas[:-1])
df.columns = columns
df[columns[1:]]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19128 entries, 0 to 19127
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   log_seq         19128 non-null  int64
 1   proc_date       19128 non-null  object
 2   proc_time       19128 non-null  object
 3   emp_user_id     19128 non-null  object
 4   emp_user_name   19128 non-null  object
 5   dept_id         19128 non-null  object
 6   dept_name       19128 non-null  object
 7   user_ip         19128 non-null  object
 8   user_id         19128 non-null  object
 9   scrn_id         2579 non-null   object
 10  scrn_name       3960 non-null   object
 11  req_type        19128 non-null  object
 12  system_seq      19128 non-null  object
 13  server_seq      0 non-null      object
 14  req_context     0 non-null      object
 15  req_url         19128 non-null  object
 16  req_end_time    19128 non-null  object
 17  result_type     19128 non-null  object
 18  result_type_ko  0 non-null      object
 19  query_id        0 non-null      object
 20  rd_id           0 non-null      object
 21  rd_name         0 non-null      object
 22  grid_id         0 non-null      object
 23  grid_name       0 non-null      object
 24  request_data    0 non-null      object
dtypes: int64(1), object(24)
memory usage: 3.6+ MB

In [35]:
df.isnull()

,log_seq,proc_date,proc_time,emp_user_id,emp_user_name,dept_id,dept_name,user_ip,user_id,scrn_id,...,req_url,req_end_time,result_type,result_type_ko,query_id,rd_id,rd_name,grid_id,grid_name,request_data
0,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19123,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,True,True,True,True,True,True
19124,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,True,True,True,True,True,True
19125,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,True,True,True,True,True,True
19126,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,True,True,True,True,True,True
19127,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,True,True,True,True,True,True

In [36]:
df.isnull().sum()

log_seq               0
proc_date             0
proc_time             0
emp_user_id           0
emp_user_name         0
dept_id               0
dept_name             0
user_ip               0
user_id               0
scrn_id           16549
scrn_name         15168
req_type              0
system_seq            0
server_seq        19128
req_context       19128
req_url               0
req_end_time          0
result_type           0
result_type_ko    19128
query_id          19128
rd_id             19128
rd_name           19128
grid_id           19128
grid_name         19128
request_data      19128
dtype: int64

> ##### 결측치 행만 찾기

In [42]:
remove_columns = df.columns[df.isnull().any()]
df[remove_columns]

,scrn_id,scrn_name,server_seq,req_context,result_type_ko,query_id,rd_id,rd_name,grid_id,grid_name,request_data
0,None,None,None,None,None,None,None,None,None,None,None
1,None,None,None,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None,None,None,None
4,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
19123,None,,None,None,None,None,None,None,None,None,None
19124,None,,None,None,None,None,None,None,None,None,None
19125,None,,None,None,None,None,None,None,None,None,None
19126,None,,None,None,None,None,None,None,None,None,None
19127,None,,None,None,None,None,None,None,None,None,None

In [45]:
df.drop(columns=remove_columns, inplace=True)

In [51]:
df

,log_seq,proc_date,proc_time,emp_user_id,emp_user_name,dept_id,dept_name,user_ip,user_id,req_type,system_seq,req_url,req_end_time,result_type
0,8617861,20220401,061543,syjung,,,,192.168.0.18,syjung,CO,35,/HisRecMultiAction.do?_method=hisRcptCSVList,20220401061543,"8,8,8"
1,8617862,20220401,012355,jylee,이지영,DEPT00010,재무과,192.168.0.14,jylee,RD,04,/AccMappingAction.do?_method=csvListTaxListByItem,20220401012355,"7,8,8,8,8,8,8"
2,8617863,20220401,100903,yjwon,원예지,DEPT00008,인사과,192.168.0.26,yjwon,DL,07,/rex/agc/fla/perm/AgcFlaFmlExclDtlX.rex,20220401100903,"7,8"
3,8617864,20220401,054940,EASYCERTI,,,,192.168.0.14,EASYCERTI,CO,03,/rex/snt/fed/SNTFEDResultXNew.rex,20220401054940,"8,8,1,8"
4,8617865,20220401,034009,jhcho,,,,192.168.0.20,jhcho,UD,35,/gov/mogaha/ntis/web/mar/lsm/action/MarLsmHarm...,20220401034009,"7,7,7,8,9"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19123,8647271,20230406,152617,easycerti,GS리테일사원,DEPT001,GSretail,192.168.0.84,easycerti,RD,02,http://192.168.0.175:8080/psm/adminUserMngt/li...,20230406152617,7
19124,8647272,20230406,152621,easycerti,GS리테일사원,DEPT001,GSretail,192.168.0.84,easycerti,RD,02,http://192.168.0.175:8080/psm/adminUserMngt/li...,20230406152621,7
19125,8647273,20230406,152735,easycerti,GS리테일사원,DEPT001,GSretail,192.168.0.84,easycerti,RD,02,http://192.168.0.175:8080/psm/adminUserMngt/de...,20230406152735,7
19126,8647274,20230406,152736,easycerti,GS리테일사원,DEPT001,GSretail,192.168.0.84,easycerti,RD,02,http://192.168.0.175:8080/psm/adminUserMngt/de...,20230406152736,7
19127,8647275,20230406,172152,192.168.0.76,name_,MDEPT00001,이지서티,192.168.0.76,192.168.0.76,RD,02,http://192.168.0.175:8080/psm/allLogInq/list.html,20230406172152,7

In [ ]:
df.drop( columns=['log_seq'], inplace=True)

In [56]:
df.head()

,proc_date,proc_time,emp_user_id,emp_user_name,dept_id,dept_name,user_ip,user_id,req_type,system_seq,req_url,req_end_time,result_type
0,20220401,061543,syjung,,,,192.168.0.18,syjung,CO,35,/HisRecMultiAction.do?_method=hisRcptCSVList,20220401061543,"8,8,8"
1,20220401,012355,jylee,이지영,DEPT00010,재무과,192.168.0.14,jylee,RD,04,/AccMappingAction.do?_method=csvListTaxListByItem,20220401012355,"7,8,8,8,8,8,8"
2,20220401,100903,yjwon,원예지,DEPT00008,인사과,192.168.0.26,yjwon,DL,07,/rex/agc/fla/perm/AgcFlaFmlExclDtlX.rex,20220401100903,"7,8"
3,20220401,054940,EASYCERTI,,,,192.168.0.14,EASYCERTI,CO,03,/rex/snt/fed/SNTFEDResultXNew.rex,20220401054940,"8,8,1,8"
4,20220401,034009,jhcho,,,,192.168.0.20,jhcho,UD,35,/gov/mogaha/ntis/web/mar/lsm/action/MarLsmHarm...,20220401034009,"7,7,7,8,9"

In [63]:
df.loc[df['emp_user_name'] == '', 'emp_user_name'] = None
df.loc[df['dept_id'] == '', 'dept_id'] = None
df.loc[df['dept_name'] == '', 'dept_name'] = None

In [67]:
df.isnull().sum()

proc_date            0
proc_time            0
emp_user_id          0
emp_user_name    13168
dept_id          13168
dept_name        13168
user_ip              0
user_id              0
req_type             0
system_seq           0
req_url              0
req_end_time         0
result_type          0
dtype: int64

In [68]:
remove_columns = df.columns[df.isnull().any()]
df.drop(columns=remove_columns, inplace=True)
df

,proc_date,proc_time,emp_user_id,user_ip,user_id,req_type,system_seq,req_url,req_end_time,result_type
0,20220401,061543,syjung,192.168.0.18,syjung,CO,35,/HisRecMultiAction.do?_method=hisRcptCSVList,20220401061543,"8,8,8"
1,20220401,012355,jylee,192.168.0.14,jylee,RD,04,/AccMappingAction.do?_method=csvListTaxListByItem,20220401012355,"7,8,8,8,8,8,8"
2,20220401,100903,yjwon,192.168.0.26,yjwon,DL,07,/rex/agc/fla/perm/AgcFlaFmlExclDtlX.rex,20220401100903,"7,8"
3,20220401,054940,EASYCERTI,192.168.0.14,EASYCERTI,CO,03,/rex/snt/fed/SNTFEDResultXNew.rex,20220401054940,"8,8,1,8"
4,20220401,034009,jhcho,192.168.0.20,jhcho,UD,35,/gov/mogaha/ntis/web/mar/lsm/action/MarLsmHarm...,20220401034009,"7,7,7,8,9"
...,...,...,...,...,...,...,...,...,...,...
19123,20230406,152617,easycerti,192.168.0.84,easycerti,RD,02,http://192.168.0.175:8080/psm/adminUserMngt/li...,20230406152617,7
19124,20230406,152621,easycerti,192.168.0.84,easycerti,RD,02,http://192.168.0.175:8080/psm/adminUserMngt/li...,20230406152621,7
19125,20230406,152735,easycerti,192.168.0.84,easycerti,RD,02,http://192.168.0.175:8080/psm/adminUserMngt/de...,20230406152735,7
19126,20230406,152736,easycerti,192.168.0.84,easycerti,RD,02,http://192.168.0.175:8080/psm/adminUserMngt/de...,20230406152736,7
19127,20230406,172152,192.168.0.76,192.168.0.76,192.168.0.76,RD,02,http://192.168.0.175:8080/psm/allLogInq/list.html,20230406172152,7

In [71]:
df[['req_url',]]

                                                 req_url
0           /HisRecMultiAction.do?_method=hisRcptCSVList
1      /AccMappingAction.do?_method=csvListTaxListByItem
2                /rex/agc/fla/perm/AgcFlaFmlExclDtlX.rex
3                      /rex/snt/fed/SNTFEDResultXNew.rex
4      /gov/mogaha/ntis/web/mar/lsm/action/MarLsmHarm...
...                                                  ...
19123  http://192.168.0.175:8080/psm/adminUserMngt/li...
19124  http://192.168.0.175:8080/psm/adminUserMngt/li...
19125  http://192.168.0.175:8080/psm/adminUserMngt/de...
19126  http://192.168.0.175:8080/psm/adminUserMngt/de...
19127  http://192.168.0.175:8080/psm/allLogInq/list.html

[19128 rows x 1 columns]

In [72]:
df.shape

(19128, 10)

In [73]:
df

,proc_date,proc_time,emp_user_id,user_ip,user_id,req_type,system_seq,req_url,req_end_time,result_type
0,20220401,061543,syjung,192.168.0.18,syjung,CO,35,/HisRecMultiAction.do?_method=hisRcptCSVList,20220401061543,"8,8,8"
1,20220401,012355,jylee,192.168.0.14,jylee,RD,04,/AccMappingAction.do?_method=csvListTaxListByItem,20220401012355,"7,8,8,8,8,8,8"
2,20220401,100903,yjwon,192.168.0.26,yjwon,DL,07,/rex/agc/fla/perm/AgcFlaFmlExclDtlX.rex,20220401100903,"7,8"
3,20220401,054940,EASYCERTI,192.168.0.14,EASYCERTI,CO,03,/rex/snt/fed/SNTFEDResultXNew.rex,20220401054940,"8,8,1,8"
4,20220401,034009,jhcho,192.168.0.20,jhcho,UD,35,/gov/mogaha/ntis/web/mar/lsm/action/MarLsmHarm...,20220401034009,"7,7,7,8,9"
...,...,...,...,...,...,...,...,...,...,...
19123,20230406,152617,easycerti,192.168.0.84,easycerti,RD,02,http://192.168.0.175:8080/psm/adminUserMngt/li...,20230406152617,7
19124,20230406,152621,easycerti,192.168.0.84,easycerti,RD,02,http://192.168.0.175:8080/psm/adminUserMngt/li...,20230406152621,7
19125,20230406,152735,easycerti,192.168.0.84,easycerti,RD,02,http://192.168.0.175:8080/psm/adminUserMngt/de...,20230406152735,7
19126,20230406,152736,easycerti,192.168.0.84,easycerti,RD,02,http://192.168.0.175:8080/psm/adminUserMngt/de...,20230406152736,7
19127,20230406,172152,192.168.0.76,192.168.0.76,192.168.0.76,RD,02,http://192.168.0.175:8080/psm/allLogInq/list.html,20230406172152,7

In [ ]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
from scipy import stats
import tensorflow as tf
import seaborn as sns
from pylab import rcParams
from sklearn.model_selection import train_test_split
from keras.models import Model, load_model
from keras.layers import Input, Dense
from keras.callbacks import ModelCheckpoint, TensorBoard
from keras import regularizers

# 시각화 라이브러리 설정
%matplotlib inline

sns.set(style='whitegrid', palette='muted', font_scale=1.5)

rcParams['figure.figsize'] = 14, 8

# RANDOM_SEED와 LABELS 설정
RANDOM_SEED = 42
LABELS = ["Normal", "Fraud"]